<section class="section-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4 mx-auto">
                <div class="widget-a">
                    <div class="w-header-a">
                        <h3 class="w-title-a text-brand">MLK</h3>
                    </div>
                    <div class="w-body-a">
                        <p class="w-text-a color-text-a">
                            شرکت ملک ..........................
                        </p>
                    </div>
                    <div class="w-footer-a">
                        <ul class="list-unstyled">
                            <li class="color-a">
                                <span class="color-text-a">contact@example.com</span>
                            </li>
                            <li class="color-a">
                                <span class="color-text-a"> +54 356 945234</span>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>